{extend name="layout/base"/}
{block name='seo_des'}{$seo_des}{/block}
{block name="body"}
<!-- <div class="page-banner" style="background:url({$ad['楼盘列表-banner'][0]['img']}) no-repeat center center/cover;"></div> -->
<div class="product-item01">
    <div class="w1200 clearfix">
        <div class="right fr">
            <div class="contact-box">
                <div class="tit">获取优惠报价，或预约参观<br/>请拨打免费电话</div>
                <div class="line"></div>
                <div class="tel">{$conf['tel']['v']}</div>
                <div class="email">{$conf['email_to']['v']} </div>
            </div>
        </div>
        <div class="left">
            <h1>找到您理想的{$cityParent.name}服务式办公室</h1>
            <div class="contxt">
                我们是{$cityParent.name}服务式办公室租赁专家，免费为您提供{$cityParent.name}商务中心/服务式办公室出租咨询、安排参观等服务，帮您快捷地找到合适的地点，并能有效降低您的支出。
            </div>
            <div class="form-data clearfix">
                <form id="formid" action="{:url('sendMail')}" method="post">
                <div class="list"><input type="text" name="name" placeholder="姓名"></div>
                <div class="list"><input type="text" name="tel" placeholder="电话"></div>
                <div class="list"><input type="text" name="city" placeholder="城市"></div>
                <div class="list" style="width:100%;"><input name="other" type="text" placeholder="其它"></div>
                <input type="hidden" name="__token__" value="{$Request.token}" />
                <div class="list"><input type="button" class="commit_form" value="发送"></div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="product-item02">
    <div class="w1200 clearfix">
        <div class="txt fl">筛选您理想的办公室</div>
        <ul class="tab fr clearfix">
            <li>
                <span class="result"><span class="result-txt">区域</span><i></i></span>
                <div class="select-box">
                    <ul class="select" id="region">
                        
                    </ul>
                </div>
            </li>
            <li>
                <span class="result"><span class="result-txt">商圈</span><i></i></span>
                <div class="select-box">
                    <ul class="select" id="bs">
                        
                    </ul>
                </div>
            </li>
            <li>
                <span class="result"><span class="result-txt">价格</span><i></i></span>
                <div class="select-box">
                    <ul class="select">
                        <a href="{:search_where(['price'=>'1000-1999'])}"><li>1000-1999元 每人每元</li></a>
                        <a href="{:search_where(['price'=>'2000-2999'])}"><li>2000-2999元 每人每元</li></a>
                        <a href="{:search_where(['price'=>'3000-3999'])}"><li>3000-3999元 每人每元</li></a>
                        <a href="{:search_where(['price'=>'4000-4999'])}"><li>4000-4999元 每人每元</li></a>
			            <a href="{:search_where(['price'=>'5000'])}"><li>5000以上元 每人每元</li></a>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="product-item03">
    <div class="w1200 clearfix">
        <ul class="tab clearfix">
            <li class="grid active"><i></i>网格</li>
            <li class="list"><i></i>列表</li>
        </ul>
    </div>
    <div class="tab-con grid-content clearfix" style="display:block;">
        <div class="w1200 clearfix">
        	{volist name="pData" id="vo"}
            <div class="list">
                <div class="box">
                    <div class="img"><a href="{:of_url($vo->urlSimplify->url_title)}" style="background:url({$vo.img}) no-repeat center center/cover;"></a></div>
                    <div class="contxt clearfix">
                        <div class="l">
                            <h3 class="tit textHidden"><a href="{:of_url($vo->urlSimplify->url_title)}">{$vo.name}</a></h3>
                            <div class="address textHidden">{$vo.address}</div>
                        </div>
                        <div class="r"><span>{$vo.rent}</span>起元人/月</div>
                    </div>
                </div>
            </div>
            {/volist}
            <div class="clear"></div>
            {if condition="$pData->render()"}
                {$pData->render()}
            {else/}
                <div class="page"> 
                </div>
            {/if}
            <div class="load-more"></div>
        </div>
    </div>
    <div class="tab-con list-content clearfix">
        <div class="w1200 clearfix">
        	{volist name="pData" id="vo"}
            <div class="list clearfix">
                <div class="img fl"><a href="{:of_url($vo->urlSimplify->url_title)}" style="background:url({$vo.img}) no-repeat center center/cover;"></a></div>
                <div class="right clearfix">
                    <h2 class="title textHidden"><a href="{:of_url($vo->urlSimplify->url_title)}">{$vo.name}</a></h2>
                    <ul>
                        <li class="address textHidden">{$vo.address}</li>
                        <li class="bus">{$vo.airport}</li>
                        <li class="plain">{$vo.subway}</li>
                    </ul>
                    <div class="tag-box clearfix">
                    	{volist name="vo.tag" id="vt"}
                        <span>{$vt}</span>
                    	{/volist}                
                    </div>
                    <div class="price">
                        <sup>￥</sup>{$vo.rent}
                        <span>起人/月</span>
                    </div>
                </div>
            </div>
            {/volist}
            <div class="clear"></div>
            <div>
            {if condition="$pData->render()"}
                {$pData->render()}
            {else/}
                <div class="page"> 
                </div>
            {/if}
            </div>
        </div>
    </div>
</div>
{/block}
{block name="js"}
<script>
	$(".product-item03 ul.tab li").tab({
        thisTabcon:'.tab-con'
    })
$(function(){
    var city_id = {$cityParent.id};
    getRegion(city_id);
    function getRegion(parent_id) {
        $.ajax({
                url: "{:url('Index/ajaxGetRegin')}", 
                type:'get', 
                data:{'parent_id':parent_id},
                dataType: "json", 
                error:function(data){
                    showErrMsg("服务器错误！");
                    return;
                },  
                success:function(result){
                    var array_str = new Array();
                    var html = "";
                    result.forEach(function(item,index){
                        array_str[index] = item.id;
                        html += "<li><a href='/{:cookie('city_url')}/'>全部区域</a>";
                        html += "<li><a href='"+item.of_url+"'>"+item.name+"</a></li>";
                    })
                    $("#region").empty().html(html);
                    array_str = array_str.join(',')
                    getBs(array_str);
                },
        })
    }
    function getBs(parentIds) {
        $.ajax({
                url: "{:url('Index/ajaxGetBs')}", 
                type:'get', 
                data:{'parentIds':parentIds},
                dataType: "json", 
                error:function(data){
                    showErrMsg("服务器错误！");
                    return;
                },
                success:function(result){
                    var html = "";
                    result.forEach(function(item,index){
                        html += "<a href='"+item.of_url+"'><li>"+item.name+"</li></a>";
                    })
                    $("#bs").empty().html(html);
                },
        })
    }
})
</script>
{/block}
