{extend name="layout/admin_base"/}
{block name='title'}{$_page_title}{/block}
{block name="content"}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" method="POST" action="" onsubmit="return false" >
            <input type="hidden" name="id" value="{$data.id}">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1" data-toggle="tab">基本参数</a></li>                 
                        <li class="pull-right"><a href="javascript:history.back(-1)" class="btn btn-sm" style="padding:10px 2px;"><i class="fa fa-list"></i> 返回</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">标题</label>
                                <div class="col-sm-7"><input class="form-control" name="title" value="{$data.title}" placeholder="标题"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">url别名</label>
                                <div class="col-sm-7"><input class="form-control" name="url_title" value="{$data.url_title}" placeholder="用于url优化"></div>
                            </div>  
                            <div class="form-group">
                                <label class="col-sm-2 control-label">状态</label>
                                <div class="col-sm-7">
                                    <select class="form-control select2" name="state" style="width:100%;">
                                        <option value="1" {if condition="$data.state eq 1"}selected="selected"{/if}>正常</option>
                                        <option value="0" {if condition="$data.state eq 0"}selected="selected"{/if}>停用</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">是否推荐</label>
                                <div class="col-sm-7">
                                    <select class="form-control select2" name="flag" style="width:100%;">
                                        <option value="0" {if condition="$data.flag eq 0"}selected="selected"{/if}>否</option>
                                        <option value="1" {if condition="$data.flag eq 1"}selected="selected"{/if}>是</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">发布时间</label>
                                <div class="col-sm-7"><input class="form-control datepicker" data-date-format="yyyy-mm-dd"  name="update_time" value="{$data.update_time}" placeholder="发布时间"></div>
                            </div>  

                            <div class="form-group">
                                <label class="col-sm-2 control-label">描述</label>
                                <div class="col-sm-7"><textarea class="form-control" style="resize:none;height:155px;" name="abstract" placeholder="描述">{$data.abstract}</textarea></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">内容</label>
                                <div class="col-sm-7"><textarea class="form-control" name="content" placeholder="{$Think.lang.content}">内容</textarea></div>
                            </div>
                
                            <div class="form-group">
                                <label class="col-sm-2 control-label">seo标题</label>
                                <div class="col-sm-7"><input class="form-control" name="seo_title" value="{$data.seo_title}" placeholder="seo标题"></div>
                            </div>  
                            <div class="form-group">
                                <label class="col-sm-2 control-label">seo描述</label>
                                <div class="col-sm-7"><textarea class="form-control" style="resize:none;height:155px;" name="seo_des" placeholder="seo描述">{$data.seo_des}</textarea></div>
                            </div>
                        </div>

                    <div class="box-footer">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-7">
                            <div class="btn-group pull-right">
                                <button type="submit" class="btn btn-info pull-right submits" data-loading-text="&lt;i class='fa fa-spinner fa-spin '&gt;&lt;/i&gt; 提交">提交</button>
                            </div>
                            <div class="btn-group pull-left">
                                <button type="reset" class="btn btn-warning">重置</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<script>
$(function(){
    /*ajax页面加载icheck，有该控件的页面才需要*/
    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
        checkboxClass: 'icheckbox_minimal-blue',
        radioClass: 'iradio_minimal-blue'
    });
    $('.datepicker').datepicker();
    /*ajax页面加载icheck，有该控件的页面才需要*/
    $(".select2").select2({language:"zh-CN"});
    KindEditor.create('textarea[name="content"]',{
        width : '100%',   //宽度
        height : '320px',   //高度
        resizeType : '0',   //禁止拖动
        allowFileManager : true,   //允许对上传图片进行管理
        uploadJson : '{:url("Uploads/upload")}',   //文件上传地址
        fileManagerJson : '{:url("Uploads/manager")}',   //文件管理地址
        urlType : 'domain',   //带域名的路径
        formatUploadUrl: true,   //自动格式化上传后的URL
        autoHeightMode: false,   //开启自动高度模式
        afterBlur: function () { this.sync(); }   //同步编辑器数据
    });
})
</script>
{/block}
