html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0;margin:0 auto;overflow-x:hidden}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}
audio:not([controls]){display:none;height:0}
progress{vertical-align:baseline}
[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:inherit}
b,strong{font-weight:bolder}
dfn{font-style:italic}
h1{font-size:2em;margin:.67em 0}
mark{background-color:#ff0;color:#333}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-.25em}
sup{top:-.5em}
img{border-style:none}
svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
figure{margin:1em 40px}
hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}
optgroup{font-weight:700}
button,input{overflow:visible}
button,select{text-transform:none}
[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}
[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}
[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}
legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}
textarea{overflow:auto}
[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
html{font-family:"微软雅黑","Microsoft YaHei","Helvetica Neue",Helvetica,STHeiTi,sans-serif;-webkit-text-size-adjust:none}
body,html{-webkit-tap-highlight-color:transparent;height:100%}
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline}
a{text-decoration:none;color:#333}
ol,ul{list-style:none}
table{border-collapse:separate;border-spacing:0}
a,img{-webkit-touch-callout:none}
a,button,input{outline:0;border:none}
*,:after,:before{-webkit-box-sizing:border-box;box-sizing:border-box}
body{background:#fff;margin:0 auto;background-attachment:fixed;font-size:14px}
html{margin:0 auto;color:#333}
img{display:block;max-width:100%}
a{-webkit-transition:.3s;-o-transition:.3s;-moz-transition:.3s;transition:.3s}

h1,h2,h3,h4,h5,h6{font-weight:normal;}

.clearfix::before{display:table;content:""}
.clearfix::after{clear:both;display:block;content:"";height:0;overflow:hidden;visibility:hidden}

.fl{float:left}
.fr{float:right}
.clear{clear:both}

.w1200{max-width:1200px;margin:0 auto;position:relative}
.w1440{max-width:1440px;margin:0 auto;position:relative}
.w1600{max-width:1600px;margin:0 auto;position:relative}

@media screen and (max-width:1600px){.w1600{padding-left:15px;padding-right:15px}}
@media screen and (max-width:1440px){.w1440{padding-left:15px;padding-right:15px}}
@media screen and (max-width:1200px){.w1200{padding-left:15px;padding-right:15px}}

.font-en{font-family:Arial;}

.bg-cover{background-size:cover}
.bg-cc{background-position:center center}
.bg-norepeat{background-repeat:no-repeat}

.overHidden{overflow:hidden}

.textHidden{text-overflow:ellipsis;white-space:nowrap;overflow:hidden}

.tran300{transition:.3s ease-out;-webkit-transition:.3s ease-out;-ms-transition:.3s ease-out;-moz-transition:.3s ease-out;-o-transition:.3s ease-out}
.tran500{transition:.5s ease-out;-webkit-transition:.5s ease-out;-ms-transition:.5s ease-out;-moz-transition:.5s ease-out;-o-transition:.5s ease-out}
.tran800{transition:.8s ease-out;-webkit-transition:.8s ease-out;-ms-transition:.8s ease-out;-moz-transition:.8s ease-out;-o-transition:.8s ease-out}
.tran1000{transition:1s ease-out;-webkit-transition:1s ease-out;-ms-transition:1s ease-out;-moz-transition:1s ease-out;-o-transition:1s ease-out}

.bg{position:fixed;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,.5);z-index:10;display:none}

.header{padding:0px 30px;position:fixed;left:0;top:0;width:100%;background:url(../images/top-bg.png) repeat-x center top;z-index:3;height:91px;}
.header .logo{margin-top:20px;position:relative;z-index:2;}
.header .city-box{position:relative;margin-left:20px;margin-top:25px;z-index:2;}
.header .city-box span.tag{display:block;width:83px;height:42px;cursor:pointer;line-height:42px;text-align:center;color:#fff;border-top-left-radius:5px;border-top-right-radius:5px;}
.header .city-box span.tag i{width:7px;height:4px;background:url(../images/icon-lang.png) no-repeat center center;display:inline-block;vertical-align:middle;margin-left:10px;}
.header .city-box .m-box{display:none;}
.header .city-box .pc-box{position:absolute;left:0;top:42px;width:255px;background:#fff;border-bottom-left-radius:5px;border-bottom-right-radius:5px;border-top-right-radius:5px;padding-bottom:25px;padding-left:20px;padding-right:10px;display:none;z-index:2;}
.header .city-box .pc-box .box-list{padding:15px 0;border-bottom:1px solid #eee;}
.header .city-box .pc-box .box-list:last-child{padding-bottom:0;border-bottom:none;}
.header .city-box .pc-box .box-list .tit{font-size:12px;color:#999;}
.header .city-box .pc-box .box-list a{color:#333;margin-top:10px;margin-right:8px;float:left;}
@media only screen and (min-width: 1025px){
    .header .city-box:hover span.tag{background:#fff;color:#333;}
    .header .city-box:hover span.tag i,.header .city-box.active span.tag i{background:url(../images/icon-lang-h.png) no-repeat center center;}
    .header .city-box:hover .pc-box{display:block;}
}
.header .nav{z-index:1;}
.header .nav li{float:left;margin-left:30px;}
.header .nav li a{display:block;border-top:2px solid transparent;font-size:18px;color:#fff;padding-top:30px;height:90px;}
.header .nav li.active a,.header .nav li:hover a{border-top:2px solid #fff;}
.header .nav li.email,.header .nav li.tel{display:none;}
.header .tel{margin-left:40px;margin-top:30px;margin-right:20px;}
.header .tel a{display:block;padding-left:30px;background:url(../images/icon-tel.png) no-repeat left center;font-weight:bold;font-size:20px;color:#fff;}
.header .right{margin-top:33px;position:relative;}
.header .right > *{display:block;margin-left:20px;width:22px;height:22px;position:relative;z-index:2;}
.header .right a.email{background:url(../images/icon-email.png) no-repeat center center;}
.header .right a.search{background:url(../images/icon-search.png) no-repeat center center;}
.header .right a.search.on{background:url(../images/icon-search-close.png) no-repeat center center;}
.header .right a.menu{width:26px;height:26px;background:url(../images/icon-menu.png) no-repeat center center/25px auto;margin-left:15px;display:none;}
.header .right a.menu.close{background:url(../images/icon-menu-close.png) no-repeat center center/25px auto;}
.header .right .search-box{position:absolute;border-radius:5px;width:445px;right:0;top:35px;background:#fff;height:65px;display:none;}
.header .right .search-box input[type="text"]{width:100%;background:none;border:none;height:65px;font-size:16px;padding:0px 20px;padding-right:65px;}
.header .right .search-box input[type="button"]{position:absolute;width:65px;height:65px;background:url(../images/icon-search02.png) no-repeat center center;top:0;right:0;}

.index-header.fixed,.product-header{background:#fff;box-shadow:0px 0px 10px rgba(0,0,0,0.15);}
.index-header.fixed .city-box span.tag,.product-header .city-box span.tag{color:#333;}
.index-header.fixed .city-box span.tag i,.product-header .city-box span.tag i{background:url(../images/icon-lang-black.png) no-repeat center center;}
.index-header.fixed .nav li a,.product-header .nav li a{color:#333;}
.index-header.fixed .nav li.active a,.index-header.fixed .nav li:hover a,.product-header .nav li.active a,.product-header .nav li:hover a{color:#3d4a72;border-top:2px solid #3d4a72;}
.index-header.fixed .tel a,.product-header .tel a{background:url(../images/icon-tel-black.png) no-repeat left center;color:#333;}
.index-header.fixed .right .search-box,.product-header .right .search-box{box-shadow:0px 0px 10px rgba(0,0,0,0.15);}
.index-header.fixed .right a.email,.product-header .right a.email{background:url(../images/icon-email-black.png) no-repeat center center;}
.index-header.fixed .right a.search,.product-header .right a.search{background:url(../images/icon-search-black.png) no-repeat center center;}
.index-header.fixed .right a.search.on,.product-header .right a.search.on{background:url(../images/icon-search-close-black.png) no-repeat center center;}
.index-header.fixed .right a.menu,.product-header .right a.menu{background:url(../images/icon-menu-black.png) no-repeat center center/25px auto;}
.index-header.fixed .right a.menu.close,.product-header .right a.menu.close{background:url(../images/icon-menu-close.png) no-repeat center center/25px auto;}

@media screen and (max-width:1025px) {
    .header{height:auto;background:url(../images/top-bg.png) repeat-x center top/auto 55px;height:55px;padding:0px 15px;}
    .header .logo{width:120px;margin-top:10px;}
    .header .city-box{margin-top:8px;margin-left:0;}
    .header .city-box span.tag{width:75px;}
    .header .tel{display:none;}
    .header .nav{position:fixed;left:0;top:-100%;width:100%;height:100%;background:#fff url(../images/menu-bg.jpg) no-repeat right bottom/cover;transition:.3s ease-out;-webkit-transition:.3s ease-out;-ms-transition:.3s ease-out;-moz-transition:.3s ease-out;-o-transition:.3s ease-out;padding-top:10%;}
    .header .nav li{width:100%;margin:0;padding:0px 30px;}
    .header .nav li a{color:#333;padding:0;height:50px;line-height:50px;border:none;}
    .header .nav li:hover a{border:none;}
    .header .nav li.active a{color:#36446b;font-weight:bold;border:none !important;}
    .header .nav li.email a{border-bottom:1px solid #333;text-align:right;font-weight:bold;background:url(../images/icon-email02.png) no-repeat left center/24px auto;}
    .header .nav li.tel{margin-top:30px;}
    .header .nav li.tel a{border-top:1px solid #333;border-bottom:1px solid #333;text-align:right;background:url(../images/icon-tel02.png) no-repeat left center/24px auto;}
    .header .right{margin-top:15px;}
    .header .right a.menu{display:block;}
    .header .right a.search{margin-left:0;}
    .header .right a.email{display:none;}
    .header .right .search-box{width:auto;left:15px;right:15px;position:fixed;margin-left:0;top:65px;height:auto;}
    .header .right .search-box input[type='text']{height:45px;padding-right:45px;padding-left:15px;}
    .header .right .search-box input[type="button"]{width:45px;height:45px;}
    .header .city-box .pc-box{display:none;}
    .header .city-box .m-box{display:block;position:fixed;left:-100%;top:0;width:100%;height:100%;color:#333;background:#fff;}
    .header .city-box .m-box .tit{height:45px;padding:0px 15px;line-height:45px;border-bottom:1px solid #ddd;}
    .header .city-box .m-box ul{position:absolute;left:0;height:100%;overflow-y:auto;padding-bottom:45px;}
    .header .city-box .m-box ul li a{display:block;line-height:40px;padding:0px 15px;border-bottom:1px solid #ddd;}
    .header .city-box .m-box ul.l{width:100px;border-right:1px solid #ddd;}
    .header .city-box .m-box ul.l li{}
    .header .city-box .m-box ul.r{right:0;left:100px;display:none;}
    .header .city-box .m-box ul li.active a{color:#35436c;}
    .header .city-box .m-box ul.r li.active a{font-weight:bold;}
    .header .city-box .m-box.open{left:0;}
    .header.open .nav{top:55px;}
    .header.open .right a.search{background:url(../images/icon-search-black.png) no-repeat center center;}
    .header.open,.product-header{background:#fff;}
    .header.open .city-box span.tag{color:#333;}
    .header.open .city-box span.tag i{background:url(../images/icon-lang-black.png) no-repeat center center;}
}

.contact-model-bg{position:fixed;left:0;top:0;width:100%;height:100%;background:#000;opacity:.5;z-index:10;display:none;}
.contact-model{position:fixed;top:-150%;z-index:11;width:100%;left:0;}
.contact-model.open{top:0;}
.contact-model .w1200{position:relative;}
.contact-model .close{width:20px;height:20px;background:url(../images/icon03.png) no-repeat center center;position:absolute;right:40px;top:20px;cursor:pointer;}
.contact-model .left,.contact-model .right{width:50%;height:658px;padding:80px 70px 0px 70px;}
.contact-model .left .title,.contact-model .right .title{font-size:24px;margin-bottom:45px;}
.contact-model .left{background:url(../images/contact-model-l-bg.jpg) no-repeat center center/cover;color:#333;}
.contact-model .left .list{margin-bottom:15px;}
.contact-model .left .list input[type="text"]{width:100%;height:45px;font-size:16px;border-bottom:2px solid #b3b3b3;color:#35436c;background:none;}
.contact-model .left .list textarea{width:100%;background:none;height:115px;outline:none;border:none;border-bottom:2px solid #b3b3b3;color:#35436c;font-size:16px;resize:none;}
.contact-model .left .list input[type="text"]:focus,.contact-model .left .list textarea:focus{border-bottom:2px solid #35436c;}
.contact-model .left .list input[type="button"]{width:150px;height:50px;border-radius:3px;background:#35436c;color:#fff;text-align:center;line-height:50px;cursor:pointer;margin-top:10px;}
.contact-model .right{background:url(../images/contact-model-r-bg.jpg) no-repeat center center/cover;color:#fff;}
.contact-model .right .contxt{line-height:30px;font-size:20px;}
.contact-model .right .tel{font-size:36px;margin:20px 0px 50px 0;}
.contact-model .right ul{line-height:32px;font-size:16px;}
.contact-model .right ul li{padding-left:25px;}
.contact-model .right ul li.address{background:url(../images/icon02.png) no-repeat left 8px;}
.contact-model .right ul li.email{background:url(../images/icon01.png) no-repeat left 8px;}

@media screen and (max-width:1025px) {
    .contact-model .left,.contact-model .right{padding:80px 30px 0px 30px;}
}
@media screen and (max-width:769px) {
    .contact-model{left:0;right:0;bottom:0;margin:15px 0;width:inherit;height:100%;overflow-y:auto;}
    .contact-model .close{top:10px;}
    .contact-model .left,.contact-model .right{width:100%;padding:30px 20px;height:auto;}
    .contact-model .left .title, .contact-model .right .title{font-size:18px;margin-bottom:20px;}
    .contact-model .right .contxt{font-size:16px;line-height:26px;}
    .contact-model .right .tel{font-size:20px;margin:10px 0px 15px 0;}
    .contact-model .right ul{line-height:26px;font-size:14px;}
    .contact-model .right ul li.address{background:url(../images/icon02.png) no-repeat left 6px}
    .contact-model .right ul li.email{background:url(../images/icon01.png) no-repeat left 6px}
    .contact-model .left .list{margin-bottom:10px;}
    .contact-model .left .list input[type="text"]{height:35px;font-size:14px;}
    .contact-model .left .list textarea{height:80px;font-size:14px;}
}

.footer{background:#1f2124;padding-top:55px;}
.footer .logo{margin-right:80px;}
.footer ul{float:left;margin-right:40px;line-height:40px;}
.footer ul li a{color:#fff;font-size:20px;}
.footer .ewm{margin-top:15px;text-align:center;color:#6f6f6f;}
.footer .ewm img{margin-bottom:10px;max-width:105px;}
.footer .bottom{padding:35px 0;border-top:1px solid #35373a;margin-top:60px;color:#767676;}
.footer .bottom a{color:#767676;}
.footer .bottom .link{margin-bottom:10px;}
.footer .bottom .link a{height:12px;line-height:12px;border-right:1px solid #4c4d50;display:inline-block;padding:0px 8px;}
.footer .bottom .link a:first-child{padding-left:0;}
.footer .bottom .link a:last-child{border-right:none;padding-right:0;}
.footer .bottom .copy{}
.footer .bottom .tit{text-align:right;}
.footer .bottom .tel{font-size:24px;}
.footer .bottom .tel a{color:#fff;font-weight:bold;}

.contact-fixed{display:none;position:fixed;right:10px;bottom:30px;width:140px;z-index:3;border-radius:30px;overflow:hidden;height:50px;background:#fff;box-shadow:0px 0px 10px rgba(0,0,0,0.1);}
.contact-fixed img{width:50px;height:50px;border-radius:100%;margin-right:8px;}
.contact-fixed span{display:block;}
.contact-fixed span.tit{font-size:16px;color:#3d4a72;margin-top:5px;}
.contact-fixed span.subtit{}

@media screen and (max-width:769px) {
    .footer{padding-top:30px;}
    .footer .logo{margin-right:0;max-width:150px;position:absolute;left:15px;top:0px;}
    .footer ul{width:100%;text-align:right;line-height:30px;margin:0;}
    .footer ul li a{font-size:16px;}
    .footer .ewm{position:absolute;left:15px;top:55px;}
    .footer .ewm img{max-width:70px;margin-bottom:5px;}
    .footer .bottom{margin-top:20px;padding:20px 0;}
    .footer .bottom .fr{width:100%;text-align:left;margin-top:5px;}
    .footer .bottom .tit,.footer .bottom .tel{text-align:left;display:inline-block;}
    .footer .bottom .tel{font-size:18px;}
    .contact-fixed{display:block;}
}

.page-banner{height:300px;line-height:300px;}
.page-banner .tit{font-size:40px;color:#fff;font-weight:bold;}

@media screen and (max-width:1025px) {
    .page-banner{height:180px;line-height:180px;}
    .page-banner .tit{font-size:22px;padding-top:20px;}
}

.contact-box{background:#35436c url(../images/contact-box-bg.jpg) no-repeat right center;height:348px;width:320px;padding-top:40px;padding-left:30px;color:#fff;}
.contact-box .tit{font-size:18px;line-height:24px;}
.contact-box .line{margin:20px 0;width:25px;height:2px;background:#fff;}
.contact-box .tel{font-size:32px;font-weight:bold;}
.contact-box .email{font-size:18px;padding-left:25px;background:url(../images/icon01.png) no-repeat left center;margin-top:5px;}

@media screen and (max-width:769px) {
    .contact-box{display:none;}
}

.page{text-align:center;margin:75px 0;}
.page a{display:inline-block;font-size:18px;margin:0px 10px;}
.page a.active{font-weight:bold;font-size:26px;color:#35436c;}
.page a:hover{color:#35436c;}
.page a i{width:12px;height:20px;display:inline-block;vertical-align:middle;background:url(../images/page-arrow.png) no-repeat left top;margin-top:-4px;}
.page a.prev{margin-right:40px;font-weight:bold;}
.page a.next{margin-left:40px;font-weight:bold;}
.page a.prev i{background-position:left top;margin-right:5px;}
.page a.next i{background-position:right top;margin-left:5px;}
.page a.prev:hover i{background-position:left bottom;}
.page a.next:hover i{background-position:right bottom;}

@media screen and (max-width:1025px) {
    .page{margin:20px 0;}
}
@media screen and (max-width:769px) {
    .page a{display:none;}
    .page a.prev,.page a.next{display:inline-block;font-size:16px;}
}

.load-more{}

.position{color:#999;}
.position a{color:#999;}
.position span{margin:0px 5px;}
.position span:last-child{color:#333;}

.error{text-align:center;padding:200px 0px 100px 0;color:#222;font-size:22px;}
.error img{margin:0 auto;margin-bottom:40px;}
.error .txt{margin-top:15px;}
.error a{background:#222;width:90px;height:30px;display:inline-block;vertical-align:middle;color:#fff;font-size:12px;line-height:30px;margin-left:10px;margin-top:-5px;}

@media screen and (max-width:1025px) {
    .error{padding:10% 0;padding-top:110px;font-size:16px;}
    .error img{max-width:250px;}
}